* {
  margin: 0;
}

body {
  background-image: url("https://previews.123rf.com/images/nosua/nosua1702/nosua170200233/72605962-home-appliances-in-the-shopping-cart-e-commerce-or-online-shopping-concept-breack-background-3d-rend.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
